<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Portfólio | Desenvolvedor Full Stack{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="container">
        <nav class="navbar">
            <div class="logo">
                <a href="{{ url_for('index') }}">Vitor Caliman</a>
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('projetos') }}">Projetos</a></li>
                <li><a href="{{ url_for('contato') }}">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

      
    <footer class="container footer">
        <p>© 2026 Vitor Caliman • Desenvolvedor Full Stack</p>
    </footer>

</body>
</html>
